$("html, body").animate({ scrollTop: 0 }, 200);
if($('#login .big-forms .forms').is(':empty')) {
	$('#login .big-forms .forms').append('<%= j render("sessions/login_content") %>');
}
$('#login .big-forms').slideToggle('slow', function() {
	$('#login .login a').html(
    $(this).is(':visible') ? '<i class="foundiconge-up-arrow"></i> Login' : '<i class="foundiconge-down-arrow"></i> Login'
  );
  if($('#login .big-forms').is(':visible')) {
  	document.location.hash = "log" ;
  }
  else {
  	document.location.hash = "" ;
  }
});

// popup sign in
$('#login .big-forms .forms div.container div.log span.inscription').click(function(){
  $('#login div.container_inscription div.commit span.infos').toggle(true);
  $('#login div.container_inscription').fadeIn(500);
  $("html, body").animate({scrollTop: $('#login div.container_inscription').offset().top - 50 }, 750);
  // Set black out (div.overlay)
  $('#login .overlay').fadeIn(300);
  $('#login .overlay').css({
    width: $(document).width(),
    height: $(document).height()
  });
  // Set step back
  $('#login .overlay').click(function(e){
    $('#login .overlay').fadeOut(300, function(){
      $("html, body").animate({scrollTop: 0 }, 750);
      $('#login div.container_inscription').fadeOut(200);
    });
  });
});

// for twitter error
$('#login a.login_twitter').click(function(){
  $('#message').html("<p><div class='alert alert-notice'>Twitter ne fournit à l'heure actuelle pas assez d'informations pour pouvoir fournir un service de connexion. Veuillez choisir un autre fournisseur.</div><a href='#' class='close-notify'>X</a></p>").hide().fadeIn('slow').click(function(){
    $("#message").fadeOut("slow");
    return false;
  });
});