<h1>Pages</h1>
<table class="client_tables display">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Ordre</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		<% @pages.each do |page| %>
			<tr>
				<td><%= page.name %></td>
				<td><%= page.order %></td>
				<td><%= page.url %></td>
			</tr>
		<% end %>
	</tbody>
</table>