<%= render 'shared/map', groups: @groups %>

<article id="groups">

	<div class="container">
		<div class="title">
			<h2>Fribourg</h2>
		</div>

		<div class="content">

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>
		

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>

		</div>
	</div>


	<div class="container">
		<div class="title">
			<h2>Neuchâtel</h2>
		</div>

		<div class="content">
			
			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>
		

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>

			<div class="group">
				<h3>WAY - Bulle</h3>
				<p>Car il le vaut bien!</p>
				<img src="/assets/group.jpg">
			</div>

		</div>
	</div>

</article>