<div class='table_buttons'>
	<% if @create_ownerships.any? %>
		<a class="new_ownership" href="#">Ajouter des droits</a>
	<% end %>
	<% if @create_parent_ownerships.any? %>
		<a class="new_relation" href="#">Ajouter un héritage</a>
	<% end %>
</div>
