<h3>Commentaires</h3>

<%= render 'shared/table_buttons' %>

<table class="tables display" data-source="<%= comments_url(format: "json") %>">
  <%= render 'shared/datatable', table: Comment %>
</table>
