<p style="margin-top:20px"><%= link_to "Editer l'article", "/editor/admin/articles/nouveau", id: "edit_link", data: { save_url: mercury_update_admin_article_path(@article.id) }, class: "w8-button l-blue" %></p>

<%= render 'form', article: @article %>