<p style="margin-top:20px"><%= link_to "Ajouter un article", "/editor/admin/articles/nouveau", id: "edit_link", data: { save_url: admin_articles_path }, class: "w8-button l-blue" %></p>

<%= render 'form', article: @element %>