@charset "utf-8";
/* CSS Document */

//@import 'variables.css.scss';

#profil {
	margin: 30px 0 0 0;
}

#profil h1 {
	margin: 0 0 5px 0;
	font-size: 30px;
}
#profil h2 {
	text-align: left;
	font-size: 14px;
}

#profil a:hover {
	text-decoration: underline;
}

/*content*/
#profil .content {
	background: #efefef;
	padding: 20px 20px 20px 20px;
	border-radius: 4px;
	min-height: 400px;
	position: relative;
}

	#profil .content h3 {
		margin: 30px 0 30px 0;
		//font-size: 19px;
	}
	#profil .content h3:first-child {
		margin: 0 0 30px 0;
	}
	#profil .content h4 {
		font-weight: 200;
		font-size: .9em;
	}

	#profil .content .button {
		text-align: right;
		width: 100px;
		position: absolute;
		top: 10px;
		right: 10px;
	}
		#profil .content .button a {
			text-align: right;
		}


	/* Table */

	#profil .content .table_buttons {
		text-align: right;
	}

		#profil .content .table_buttons a {
			padding: 7px 10px;
			border-radius: 3px;
			color: #fff;
			font-weight: lighter;
			font-size: 14px;
		}

		#profil .content .table_buttons a.add {
			background: #7f72f5;
		}

		#profil .content .table_buttons a.off {
			background: #aaa;
		}

		#profil .content .table_buttons a.on {
			background: #7f72f5;
			display: none;
		}

	/* Table */

	#profil .content .dataTables_wrapper {
		margin: 30px 0;
	}

	/* Pagination */

	#profil .content .pagination {

	}

	#profil .content .pagination li {
		display: inline-block;
		padding: 3px;
	}

	#profil .content .pagination li.active {
		text-decoration: underline;
	}

	#profil .content .pagination li.previous_page {
		margin: 0 10px 0 0;
	}

	#profil .content .pagination li.next_page {
		margin: 0 0 0 10px;
	}

	#profil .content .pagination li.disabled a {
		color: #777;
	}

	/* retour */

	#profil .retour {
		font-size: 14px;
		margin: 5px 5px 10px 5px;
	} #profil .retour i {font-size:10px}


	// Table 

	#table {
		width: 100%;
		overflow: scroll;
		margin: 20px 0 0 0;

		.tools {
			width: 100%;
			background: rgb(136,136,136); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(136,136,136,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,136,136,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(119,119,119,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(136,136,136,1) 0%,rgba(119,119,119,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
			padding: 10px 0px;
			border-top-right-radius: 7px;
			border-top-left-radius: 7px;

			& > * {
				margin: 5px;
			}
			div {
				display: inline-block;
			}
			div.search {
				width: 300px;
			}
			div.paginate{text-align:right; width: 600px;font-size:.8em}
			a {color: #fff}
		} /* end tools */

		.bottom {
			width: 100%;
			background: rgb(136,136,136); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(136,136,136,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,136,136,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(119,119,119,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(136,136,136,1) 0%,rgba(119,119,119,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
			padding: 10px 0px;
			border-bottom-right-radius: 7px;
			border-bottom-left-radius: 7px;
			a{color:#fff}
			text-align: center;
			font-size: .8em;
		}

		thead {
			background: #ddd;
			font-weight: normal;
			font-size: .9em;
			color: #000;
			a {
				color: #000;
				font-weight: 500;
			}
			th {
				padding: 7px 10px;
				text-align: center;
				vertical-align: middle;
				border: 1px solid #ccc;
				font-weight: normal;
			}
			a.asc {
				padding-right: 10px;
				background: url(/assets/admin/arrow_table.png) no-repeat right top;
			}
			a.desc {
				padding-right: 10px;
				background: url(/assets/admin/arrow_table_down.png) no-repeat right top;
			}
		} /* end thead */

		tbody {
			tr {
				td {
					background: #fff;
					padding: 3px;
					&:nth-child(2) {
						background: #EAEBFF;
					}
				}
			} /* edn tr */

			tr.odd td{
				background: #EAEBFF;
			}

			tr.row_selected td {
				background: #B0BED9;
			}
		}

	}



