/*identity*/
	#profil .content .home .identity {
		display: table-cell;
		min-width: 400px;
	}
		#profil .content .home .identity h3 {
			margin: 0 0 20px 0;
			padding: 10px 0;
		}

		#profil .content .home .identity .gravatar {
			font-size: 12px;
			margin: 20px 0 0 0;
		}

			#profil .content .home .identity .gravatar .link {
				cursor: pointer;
				color: #7f72f5;
			} #profil .content .home .identity .gravatar .link:hover{text-decoration:underline}

			#profil .content .home .identity div.more_gravatar {
				display: none;
				font-size: 12px;
			}

				#profil .content .home .identity div.more_gravatar p.title {
					margin: 10px;
					font-weight: bold;
				}

		/*img*/
		#profil .content .home .identity .img {
			display: table-cell;
			min-width: 120px;
		}

			#profil .content .home .identity .img img {
				padding: 5px 5px 13px 5px;
				background: #fff;
			}

		/*infos*/
		#profil .content .home .identity .infos {
			display: table-cell;
			width: 100%;
			vertical-align: top;
			font-size: 12px;
		}

			#profil .content .home .identity .infos div {
				display: inline-block;
			}

			#profil .content .home .identity .infos .infos2 {
				width: 100px;
				text-align: right;
				padding: 0 5px 0 0;
				font-weight: bold;
				vertical-align: top;
			}

			#profil .content .home .identity .infos .infos3 {
				text-align: left;
				vertical-align: top;
			}


	/*ressources*/
	#profil .content .home .ressources {
		display: table-cell;
		height: 500px;
		width: 100%;
	}

		#profil .content .home .ressources h3 {
			//margin:  0 0 20px 0;
			padding: 10px 0 0 0;
		}

		#profil .content .home .ressources h4 {
			text-decoration: italic;
			font-size: 12px;
			font-weight: lighter;
			margin: 0 0 10px 0;
			border-bottom: 1px solid #aaa;
		}

		/* header */
		#profil .content .home .ressources ul {
			//background: #ddd;
			text-align: center;
		}

			#profil .content .home .ressources ul li {
				display: inline-block;
				margin: 3px 3px;
				border-radius: 5px;
				color: #333;
				font-weight: 200;
				width: 250px;
				height: 50px;
				position: relative;

				box-shadow: 0px 10px 14px -7px #aaa;
				background: rgb(255,255,255);
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1)));
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
				background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
				background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
				
				border-radius:15px;
        
        //border:1px solid #777;
        color:#505739;
       	text-shadow:0px 1px 0px #ffffff;
			}
			#profil .content .home .ressources ul li:hover {
				cursor: pointer;
				background: #bec7ff;
				text-decoration: none;
			}
			#profil .content .home .ressources ul li p.link a:hover {
				text-decoration: none;
			}

				#profil .content .home .ressources ul li p.link a {
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					top: 7px;
					color: #656a8d;
				}

				#profil .content .home .ressources ul li p.info {
					position: absolute;
					left: 6px;
					top: 28px;
					font-size: 12px;
				}