@charset "utf-8";
/* CSS Document */

//@import 'variables.css.scss';

#profil {
	margin: 30px 0 0 0;
}

#profil h1 {
	margin: 0 0 5px 0;
	font-size: 30px;
}
#profil h2 {
	text-align: left;
	font-size: 14px;
}

/*content*/
#profil .content {
	background: #efefef;
	padding: 20px;
	border-radius: 4px;
}

	/*identity*/
	#profil .content .identity {
		display: table-cell;
		min-width: 400px;
	}
		#profil .content .identity h3 {
			margin: 0 0 20px 0;
			padding: 10px 0;
		}

		/*img*/
		#profil .content .identity .img {
			display: table-cell;
			min-width: 120px;
		}

			#profil .content .identity .img img {
				padding: 5px 5px 13px 5px;
				background: #fff;
			}

		/*infos*/
		#profil .content .identity .infos {
			display: table-cell;
			width: 100%;
			vertical-align: top;
			font-size: 12px;
		}

			#profil .content .identity .infos div {
				display: inline-block;
			}

			#profil .content .identity .infos .infos2 {
				width: 100px;
				text-align: right;
				padding: 0 5px 0 0;
				font-weight: bold;
			}

			#profil .content .identity .infos .infos3 {
				text-align: left;
			}


	/*ressources*/
	#profil .content .ressources {
		display: table-cell;
		height: 500px;
		width: 100%;
	}

		#profil .content .ressources h3 {
			//margin:  0 0 20px 0;
			padding: 10px 0 0 0;
		}
		#profil .content .ressources h4 {
			text-decoration: italic;
			font-size: 12px;
			font-weight: lighter;
			margin: 0 0 10px 0;
		}
		/* header */
		#profil .content .ressources ul {
			background: #ddd;
			text-align: center;
		}
		#profil .content .ressources ul li {
			display: inline-block;
			margin: 10px 5px;
			border-radius: 3px;
			color: #333;
			font-weight: 200;
			background: #efefef;
			width: 140px;
			height: 60px;
			position: relative;
		}

			#profil .content .ressources ul li a {
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: 20px;
			}