@charset "utf-8";
/* CSS Document */

#profil form.edit_user {
	position: relative;
	z-index: 11;
	top: 50px;
	margin: auto; margin-bottom: 60px; padding: 10px 300px;
	text-align: left;
}
	/* use of global design error forms */

	#profil form.edit_user input {
		padding: 7px;
	}

	#profil form.edit_user label {
		padding: 7px;
	}

	#profil form.edit_user .commit {
		margin: 10px 0 0 0;
		text-align: center;
	}

	#profil form.edit_user .commit input {
		display: inline-block;
	}

#profil form.edit_user table tr td.foo {
	min-width:300px;
}
