@charset "utf-8";
/* CSS Document */

//@import 'variables.css.scss';

#profil form.edit_user {
	position: relative;
	z-index: 11;
	top: 50px;
	margin: auto; margin-bottom: 60px; padding: 50px 300px;
	text-align: left;
}

	#profil form.edit_user .error {
		width: 100%;
		font-size: 11px;
		margin: 0 0 7px 0;
	}

		#profil form.edit_user .error .title {
			text-align: center;
			font-size: 14px;
			margin: 0 0 10px 0;
		}

	#profil form.edit_user input {
		padding: 7px;
	}

	#profil form.edit_user label {
		padding: 7px;
	}

	#profil form.edit_user .commit {
		margin: 10px 0 0 0;
		text-align: center;
	}

	#profil form.edit_user .commit input {
		display: inline-block;
	}