<% provide(:title, 'Blog actualité articles musiques vidéos chrétien') %>
<% content_for :head, auto_discovery_link_tag(:atom, blog_path(format: "atom")) %>
<% content_for :head do %>
	<meta property="og:title" content="Blog de Neurones" />
	<meta property="og:image" content="http://neurones.ch/assets/blog/banner.jpg" />
	<meta property="og:description" content="Sur cette page, tu trouveras des articles divers sur l'actualité, la fois et des événements en Suisse-Romande." />
<% end %>

<%= render 'shared/image_banner', image: 'blog/banner.jpg' %>

<h1>Blog</h1>
<p>Actualités qui concernent la jeunesse en Suisse-romande.</p>

<% if can?(:create, 'admin/articles') %>
	<p style="margin-top:20px"><%= link_to "Ajouter un article", "admin/articles/nouveau", class: "w8-button l-blue" %></p>
<% end %>

<div id="blog">
	<% if @articles.any? %>
		<% @articles.each do |article| %>
			<article class="<%= article.id %>">
				<%= render "articles/article", article: article %>
			</article>
		<% end %>
	<% end %>
</div>
