<% content_for :head, auto_discovery_link_tag(:atom, blog_path(format: "atom")) %>

<div class="outer" style="width:300px; margin: 0 auto; overflow:visible">
	<div class="inner" style="display:inline-block; position:relative; right: -50%">
		<img style="position:relative; left: -50%; z-index:-1" src="/assets/blog/banner.jpg">
	</div>
</div>

<h1>Blog</h1>
<p>Actu, débats, réactions, ...</p> 

<% if create? %>
	<p style="margin-top:20px"><%= link_to "Ajouter un article", "admin/articles/nouveau", class: "w8-button l-blue" %></p>
<% end %>

<div id="blog">
	<% if @articles.any? %>
		<% @articles.each do |article| %>
			<article class="<%= article.id %>">
				<%= render "articles/article", article: article %>
			</article>
		<% end %>
	<% end %>
</div>