<div id="blog">
	<article class="<%= @article.id %>">
		
		<%= render "articles/article", article: @article %>

		<div class="comments">
			<h2>Réactions</h2>
			<h3>Exprimez-vous sur cet article</h3>
			<p><a href="#"><i class="foundicon-rss"></i> Suivre</p></a></p>

			<%= render partial: "comments/comment", collection: (@comments = @article.comments), locals: { subcomment: false } %>
		</div>

		<div class="new_comments new">
			<%= render "comments/form", event: (@comment = @article.comments.new) %>
		</div>

		<div class="edit_comment">
		</div>
		<!-- For balackout effect -->
		<div class="edit_overlay">
		</div>
		</div>
	</article>
</div>