<div id="module_<%= comp_page.id %>">
	galleries
	<%= render 'admin/g/p_modules/buttons', comp_page: comp_page %>
</div>
<div id="text_<%= comp_page.id %>">
	<%= render 'admin/g/texts/ckeditor', text: comp_page.text %>
</div>