<div class="module" id="module_<%= comp_page.id %>">
	<p>Module | Prochain événement</p>
	<%= render 'admin/g/p_modules/buttons', comp_page: comp_page %>
</div>
<div id="text_<%= comp_page.text.id %>">
	<%= render 'admin/g/texts/ckeditor', text: comp_page.text %>
</div>