@import 'variables.css.scss';

#blog {
	margin: 50px 0 0 0;
}

#blog a:hover {
	text-decoration: underline;
}

#blog article {
	width: 900px;
	margin: auto;
	box-shadow:inset 0 0 50px #ccc;
	min-height: 200px;
	border-radius: 8px;
	padding: 40px;
}

#blog div.left {
	display: table-cell;
}
#blog article div.left > * {
	text-align: left;
	font-size: .9em;
	width: 450px;
	color: #444;
}

#blog div.right {
	display: table-cell;
	width: 100%;
	padding: 0 0 0 20px;
}
#blog article div.right h2 {
	border-bottom: 1px solid #333;
	text-align: right;
	margin: 0px 0 0 0;
	padding: 0 0 7px 0;
	font-size: 1.8em;
	color: #444;
	line-height: 1em;
}
	#blog article div.right h2 a {
		color: #444;
	}
	#blog article div.right h2 a:hover {
		text-decoration: underline;
		color: $color_link;
	}
#blog article div.right h3 {
	text-align: right;
	font-style: italic;
	font-size: 1em;
	font-weight: normal;
	padding: 5px 0 0 0;
}
#blog article div.right p.infos {
	text-align: right;
	margin: 40px 0 10px 0;
	font-size: .7em;
	line-height: 1em;
}
// share buttons
#blog span.share_facebook, #blog span.share_twitter, #blog span.share_gplus {
	color: $color_link;
}
#blog span.share_facebook:hover, #blog span.share_twitter:hover, #blog span.share_gplus:hover {
	cursor: pointer;
	text-decoration: underline;
}
#blog div.right p.img {
	text-align: center;
}
#blog div.right p img {
	padding: 5px;
	background: #fff;
	margin: 10px 0 0 0;
	max-width: 400px;
}
/*mercury*/
#blog div.right p.infos p.mercury {
	width: 100px;
	height: 100px;
	background: url('/assets/blog/langoustine_1.jpg') no-repeat;
}

#blog article p.interact {
	text-align: right;
	vertical-align: bottom;
	margin: 20px 0 0 0;
}

#blog article .like div {
	display: inline-block;
	vertical-align: middle;
}
#blog article .like a{
	font-size: 1.3em;
	color: #777;
	margin: 0 6px 0 0;
}
#blog article .like a:hover{
	color: #f00;
	//text-shadow: 0px 0px 1px #111;
}

/*comments*/
#blog article div.comments {
	margin: 60px 0 0 0;
	font-size: .9em;
}
#blog article div.comments div.comment {
	margin: 7px 0;
	//box-shadow:inset 0 0 30px #fff;
	//border-radius: 5px;
	background: #efefef;
	padding: 5px;
	border-left: 2px solid #b87f00;
	/* For page curl child elements */
	position:relative;
  z-index:1;
  overflow:hidden;
  /* --- */
  border:1px solid #efefef;
  background:#efefef;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.27),
                     0 0 60px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.27),
                     0 0 40px rgba(0, 0, 0, 0.06) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.27), 
                     0 0 40px rgba(0, 0, 0, 0.06) inset;
}
#blog article div.comments div.subcomment {
	margin: 5px 0 5px 70px;
	//box-shadow:inset 0 0 30px #fff;
	//border-radius: 5px;
	padding: 5px;
	border-left: 2px solid #feaf00;
	position: relative;
	border:1px solid #efefef;
  background:#efefef;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.27),
                     0 0 60px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.27),
                     0 0 40px rgba(0, 0, 0, 0.06) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.27), 
                     0 0 40px rgba(0, 0, 0, 0.06) inset;
}
#blog article div.comments div.subcomment:before,
#blog article div.comments div.subcomment:after {
	content:''; 
  position:absolute; 
  z-index:-2; 
  width:70%;
  max-width:200px; /* for liquid versions */
  height:55%; 
  bottom:10px;
  left: 10px; 
  -webkit-box-shadow:0 8px 16px rgba(0, 0, 0, 0.3); 
     -moz-box-shadow:0 8px 16px rgba(0, 0, 0, 0.3); 
          box-shadow:0 8px 16px rgba(0, 0, 0, 0.3); 
  -webkit-transform:skew(-15deg) rotate(-6deg); 
     -moz-transform:skew(-15deg) rotate(-6deg); 
          transform:skew(-15deg) rotate(-6deg);
}
#blog article div.comments div.subcomment:after {
	left:auto;
  right: 10px; 
  -webkit-transform:skew(15deg) rotate(6deg);
     -moz-transform:skew(15deg) rotate(6deg);
          transform:skew(15deg) rotate(6deg);
}

#blog article div.comments h2 {
	text-align: center;
	padding: 0;
	margin: 0 0 0 0;
}
#blog article div.comments h3 {
	text-align: center;
	font-style: italic;
	font-size: 1em;
	font-weight: normal;
	padding: 5px 0 0 0;
	margin: 0 0 40px 0;
}
#blog article div.comments div.left {
	display: table-cell;
	max-width: 300px;
}
#blog article div.comments div.left h3 {
	font-style: normal;
	font-size: 1.1em;
	font-weight: 500;
	color: #444;
	text-align: left;
	display: inline;
}
#blog article div.comments div.left p.infos {
	font-size: .85em;
	line-height: 1em;
	max-width: inherit;
}
#blog article div.comments div.left img {
	padding: 5px 5px 10px 5px;
	background: #fff;
	max-width: 80px;
}
#blog article div.comments div.left p.img {
	text-align: center;
	margin: 10px 0 0 0;
	max-width: inherit;
}

#blog article div.comments div.right {
	display: table-cell;
	width: 100%;
	color: #555;
}

	#blog article div.comments div.right p {
		margin: 10px 0;
	}

/*comment form*/
#blog article div.new {
	background: #efefef;
}

	#blog article div.new form {
		width: 100%;
	}

		// #blog article div.new form div > * {
		// 	vertical-align: middle;
		// 	font-weight: bolder;
		// }

		#blog article div.new h3 {
			padding: 20px 0 0 0;
			margin: 0;
		}

		#blog article div.new form .title label {
			display: inline-block;
			padding: 5px 10px;
			width: 200px;
			font-weight: bolder;
		}

		#blog article div.new form .title input {
			display: inline-block;
			padding: 7px 7px;
			width: 300px;
			margin: 20px 0 0 60px;
		}

			#blog article div.new form .submit {
				width: 100%;
				text-align: center;
			}

			#blog article div.new form .submit input {
				padding: 10px;
				background: $color_link;
				border: none;
				color: #fff;
				width: 200px;
				text-align: center;
				border-radius: 5px;
				margin: 10px 0 25px 0;
			}

			#blog article div.new form .submit input:hover {
				cursor: pointer;
				text-decoration: underline;
			}

		#blog article div.new form textarea {
			display: inline-block;
			width: 770px;
			margin: 10px 0 0 60px;
			height: 170px;
			padding: 7px 7px;
		}

	/* Edit comment */
	#blog article div.comments div.edit_comment {
		display: none;
		position: fixed;
		width: 380px;
		height: 400px;
		z-index: 11;
		top: 50px;
		margin: auto;
		text-align: center;
	}

	#blog article div.comments div.overlay {
		background:rgba(0,0,0,0.3);
    display:none;
    width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:10;
	}

	#blog article div.comments div.edit_comment form {
		width: 100%;
		text-align: left;
		color: #fff;
	}

		#blog article div.comments div.edit_comment form textarea {
			width: 100%;
			padding: 7px;
		}

		#blog article div.comments div.edit_comment form input {
			width: 300px;
			padding: 7px; margin: 0 7px 0 0; 
		}

		#blog article div.comments div.edit_comment form .submit {
			text-align: center;
		}		

		#blog article div.comments div.edit_comment form .submit input {
			padding: 10px;
			background: $color_link;
			border: none;
			color: #fff;
			width: 200px;
			text-align: center;
			border-radius: 5px;
			margin: 10px 0 25px 0;
		}

		#blog article div.comments div.edit_comment form .submit input:hover {
			cursor: pointer;
			text-decoration: underline;
		}

		#blog article div.comments div.edit_comment form .submit .infos {
			font-size: 10px;
			margin: 0 0 0 5px;
		}