@charset "utf-8";
/* CSS Document */

@import 'variables.css.scss';

a {
	text-decoration: none;
	color: $color_link;
	font-weight: bold;
}

body {
	font-family: Ubuntu, Tahoma, Geneva, sans-serif;
	line-height: 1.3em;
	#background: $color_bg url('/assets/layout/bg.jpg') no-repeat;
	background-position: center 115px;
	color: #777;
}

body, html {
	height: 100%;
}

body h1 {
	font-size: 2.5em;
	margin: 0 0 20px 0;
	color: $color_title;
	font-weight: normal;
}

body h2 {
	font-size: 1.5em;
	text-align: center;
	margin: 0 0 30px 0;
	color: $color_h3;
}

#container {
	width: 980px;
	margin: auto;
	padding: 0 20px 20px 20px;
	min-height: 100%;
}

	#container article.map {
		margin: 40px 68px;
	}

		#container article.map #paper {
			width: 490px;
			height: 470px;
			//border: 1px solid #aaa;
			display: table-cell;
		}

		#FR, #VD, #NE, #VS, #GE, #JU, #NE, #ST, #BE {
			display: none;
		}

		#container article.map .right {
			display: table-cell;
			vertical-align: top;
			width: 350px;
			color: $color_h3;
		}

		#container article.map .right h3 {
			border-bottom: 1px solid #555;
			margin-bottom: 10px;
			font-size: 1.1em;
		}

		#container article.map .right ul {
			list-style-type: circle;
		}
 

	#container .separator {
		width: 100%;
		border-top: 1px dashed black;
		margin: 50px 0 30px 0 ;
	}

	#container article.event {
		color: #555;
	}

		#container article.event .img {
			text-align: center;
			margin: 0 0 20px 0;
		}

		#container article.event img {
			padding: 5px;
			background: #fff;
		}

		#container article.event h3 {
			font-size: 1.3em;
			color: $color_title;
			margin: 0 0 9px 0;
		}

	#container article.article {
		color: #555;
	}

		#container article.article h3 {
			font-size: 1.3em;
			color: $color_title;
			margin: 0 0 9px 0;
		}

		#container article.article .infos {
			margin: 10px 0;
			text-align: right;
			font-size: .8em;
			color: #777;
		}




/* ==================== Popup 've been redirected ====================*/
/* ================= */

	#container #message {
	    position:fixed;
	    bottom:0px;
	    left:0px;
	    width:100%;
	    z-index:105;
	    text-align:center;
	    color:white;
	    padding:10px 0px 10px 0px;
	    background-color:#8181a1;
	    font-weight: lighter;
	}

		#container #message span {
		    text-align: center;
		    width: 95%;
		    float:left;
		}

		#container #message .close-notify {
		    white-space: nowrap;
		    float:right;
		    margin-right:10px;
		    color:#fff;
		    text-decoration:none;
		    padding-left:3px;
		    padding-right:3px;
		    font-weight: bold;
		    font-size: 15px;
		    border: 1px solid #aaa;
		    border-radius: 6px;
		    background: #222;
		}

			#container #message .close-notify:hover {
				background: #aaa;
			}

			#container #message .close-notify a {
			    color: #fff;
			}


