@charset "utf-8";
/* CSS Document */

@import 'variables.css.scss';

#container #groups {
	margin: 100px 0 0 0;
}

	/*container*/
	#container #groups .container {
		margin: 0 0 30px 0;
		border-top: 1px solid #ddd;
	}

		/*title*/
		#container #groups .container .title {
			width: 300px;
			height: 100%;
			display: table-cell;
			vertical-align: top;
			padding: 20px 0 0 20px;
		}

			#container #groups .container .title h2 {
				text-align: left;
			}

		/*content*/
		#container #groups .container .content {
			display: table-cell;
			width: 650px;
			padding: 20px 0 0 20px;
		}

			#container #groups .container .content .group {
				width: 300px;
				border-radius: 5px;
				position: relative;
				overflow: hidden;
				padding: 10px 0 10px;
				color: #fff;
				display: inline-block;
				margin: 0 7px 7px 0;
				background: #8596ff;
				vertical-align: top;
			}
				#container #groups .container .content .group:hover {
					box-shadow: 2px 2px 8px #ff8d00;
				}

				#container #groups .container .content .group h3 {
					background: #ffd985;
					padding: 5px 10px;
					color: #6375ad;
				}

				#container #groups .container .content .group p {
					// background: rgba(255, 141, 0, .8);
					padding: 0 0 0 10px;
					font-size: .8em;
					padding: 5px 5px;
				}

				#container #groups .container .content .group img {
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
				}