@import 'variables.css.scss';

/*reset*/
#login .big-forms {
	//display:none;
}


/* General */
#login {
	text-align: right;
}

#login h2 {
	margin:10px 0 10px 10px;
	padding:0;
	text-align:left;
	font-weight:200;
	color: #333;
}


	/* Login */
	#login .login {
		margin: 0px 0 0 0;
		width: 100px;
		display: inline-block;
		background: url('/assets/header/bg.png');
		border-bottom-left-radius: 5px;
		padding: 7px;
		text-align:center;
		position:relative;
		cursor: pointer;
	}

	#login .login p a {
		color: #fff;	
		font-weight: 200;
		font-size:.8em;
	}
	#login .login a:hover {
		color: $color_link;
	}

	#login .login a i {
		padding: 0 40px 0 0;
		position: absolute;
		left: 15px;
	}


/* Forms */
	#login .big-forms {
		background: url('/assets/header/bg.png');
		padding: 10px;
		display: none;
	}

		#login .big-forms .forms img {
			height: 30px;
			vertical-align:middle;
		}

		#login .big-forms .forms {
			margin: auto;
			width: 980px;
			text-align:center;
			font-size: .9em;
		}

		#login .big-forms .forms a:hover {
			text-decoration:underline;
		}

			#login .big-forms .forms div.container {
				display: table-cell;
				background: #efefef;
				border-radius: 3px;
				text-align: left;
				width:488px;
			}

				#login .big-forms .forms div.container div.infos {
					width: 120px;
					text-align:right;
					line-height:36px;
				}			

				#login .big-forms .forms div.container input {
					width:100%;
					height:20px;
					margin: 5px 0;
				} #login .big-forms .forms div.container input.checkbox { margin: 11px 0 0 0 }

				#login .big-forms .forms div.container div {
					display: inline-block;
					padding: 10px;
					vertical-align: top;
				}

			
			/* Standart login */
			#login .big-forms .forms div.standart {

			}

				#login .big-forms .forms div.standart input.btn {
					text-align: center;
					border: none;
					color: #fff;
					font-weight:200;
					background: $color_headlink;
					border-radius: 3px;
					padding: 10px 0px;
					width: 100px;
					height: 100%;
					margin: 0 5px 0 0;
					vertical-align: middle;
				}

				#login .big-forms .forms div.standart input.btn:hover {
					background: $color_headlink_hover;
					text-decoration:none;
					cursor: pointer;
				}

				#login .big-forms .forms div.standart p.btn-log {
					margin: 4px 0 0 0;
				}

				#login .big-forms .forms div.container div.log {
					width: 300px;
				}

					#login .big-forms .forms div.container div.log a {
						font-weight:200;
					}

					#login .big-forms .forms div.container div.log .pub {
						position: relative;
					}

						#login .big-forms .forms div.container div.log .pub img {
							position: absolute;
							left: -40px;
							top: 5px;
						}

			/* External Login */
			#login .big-forms .forms div.external {

			}

				#login .big-forms .forms div.external a.btn  i {
					position:absolute;
					right: 35px;
				}

				#login .big-forms .forms div.external div p {
					float:left;
				}

				#login .forms div.external p.note {
					margin: 10px 0 10px 10px;
					font-size: .8em;
				}

				#login .forms div.external p.note .infos {
					font-size: .8em;
				}

				#login .forms div.external a.btn {
					text-align: left;
					position: relative;
					border:solid 1px #ddd;

					background: rgb(255,255,255);
					background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1)));
					background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
					background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
					background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
					background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );

					border-radius: 3px;
					width:130px;
					margin: 5px 0 0 0;
					padding: 3px;
					float:left;
					color: #333;
					font-weight:200;
				}

				#login .forms div.external a.btn:hover {
					background: $color_headlink_hover;
					text-decoration:none;
				}


			#login .big-forms .forms div.space {
				width:4px;
				background: none;
			}