@charset "utf-8";
/* CSS Document */

@import 'variables.scss';

#container .popup_container {
	position: relative;
}

#container .popup_container .popup {
	display: none;
	position: absolute;
	top: -3px;
	left: 60px;
	background: red;
	padding: 3px 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
}

#container .popup_container .popup .arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
}

#container .popup_container .popup .arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid #f00;
}

#container .popup_container .popup .arrow-right {
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;

	border-left: 60px solid green;
}

#container .popup_container .popup .arrow-left {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;

	border-right:7px solid red;

	position: absolute;
	top: 8px;
	left: -7px;
}
