@charset "utf-8";
/* CSS Document */

@import 'variables.css.scss';

#user_show {
	
}

	#user_show h1 {
		margin: 60px 0;
	}

	#user_show .left {
		display: inline-block;
		vertical-align: top;
	}

		#user_show .left img {
			padding: 5px 5px 13px 5px;
			background: #eee;
		}

	#user_show .right {
		display: inline-block;
		vertical-align: top;
		font-size: 20px;
		margin: 0 0 0 30px;
	}

		#user_show .right p {
			padding: 7px;
		}

		#user_show .right .labels {
			font-weight: bold;
			padding: 0 5px 0 0;
		}
