<%= link_to "Retour", admin_group_g_pages_path(current_group) %>

<div id="modules">
	<% current_group.comp_groups.each do |comp_group| %>
		<%= comp_group.module.name %>
		<%= link_to "Ajouter", new_admin_group_g_page_comp_page_path(current_group, @page.id, comp_group_id: comp_group.id), remote: true %>
	<% end %>
</div>

<div id="comp_pages">
	<% @page.comp_pages.order(:module_order).each do |comp_page| %>
		<%= render 'admin/g/p_modules/' + comp_page.comp_group.module.name, comp_page: comp_page %>
	<% end %>
</div>
