<p class="retour"><%= link_to "<i class='foundicong-left-arrow'></i> Retour".html_safe, edit_admin_group_path(current_group) %></p>

<h1>Pages</h1>

<div class="table_buttons">
	<a class="add" href="<%= request.fullpath + '/nouveau' %>">Ajouter</a>
	<a class="edit off">Editer</a>
	<a class="edit on" href="#">Editer</a>
	<a class="delete off">Supprimer</a>
	<a class="delete on" href="#" data-method="delete" rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">Supprimer</a>
</div>

<%= render 'table' %>
