<% provide(:title, "Catalogue des groupes de jeunes romands apostolique") %>
<% content_for :head do %>
	<meta property="og:title" content="Catalogue des groupes de jeunes romands apostolique" />
	<meta property="og:image" content="http://neurones.ch/assets/layout/bg.jpg" />
	<meta property="og:description" content="Neurones.ch, retrouver vos groupes de jeunes en Suisse-Romande. Utilises la carte pour sélectionner un groupe de jeunes et afficher plus d'infos." />
<% end %>

<% 
def affiche_a(canton_id)
	@groups.each do |group| 
		if group.canton.id == canton_id
			concat ('<div class="group" id="' + group.id.to_s + '">').html_safe
			concat ('<h3>'.html_safe  + group.name + ' <span style="font-size:.7em;font-style:italic"> à '.html_safe + group.city + '</span></h3>'.html_safe)
			if group.website_activated
				concat image_tag group.style.content.scan(/background-image:(.*?);/)[0][0][4..-2].strip
			else
				concat image_tag 'http://0.0.0.0:3000/assets/group/index/default.jpg'
			end
			#concat ('<p>'.html_safe  + group.description + '</p>'.html_safe)
			concat ('<p>'.html_safe  + link_to(group.website, group.website) + '</p>'.html_safe) unless group.website.empty?
			concat ('<p>'.html_safe  + link_to('Page perso', group.url) + '</p>'.html_safe) if group.website_activated
			concat ('</div>').html_safe
		end
	end
end  
%>

<%= render 'shared/image_banner', image: '/assets/catalogue/banner.jpg' %>

<article id="groups">

	<%= render 'shared/map', groups: @groups %>

	<div class="container">
		<div class="title">
			<h2>Fribourg</h2>
		</div>
		<div class="content">
			<% affiche_a(1) %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Neuchâtel</h2>
		</div>
		<div class="content">
			<% affiche_a(6) %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Vaud</h2>
		</div>
		<div class="content">
			<% affiche_a(2) %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Valais</h2>
		</div>
		<div class="content">
			<% affiche_a(3) %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Genève</h2>
		</div>
		<div class="content">
			<% affiche_a(4) %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Jura</h2>
		</div>
		<div class="content">
			<% affiche_a(5) %>
		</div>
	</div>

	<div class="container">
		<div class="title">
			<h2>Berne</h2>
		</div>
		<div class="content">
			<% affiche_a(7) %>
		</div>
	</div>

</article>