
<% if object.errors.any? %>
<div class="error">
	<div class="title">
		Le formulaire contient <span style="text-decoration: underline"><%= pluralize(object.errors.count, "erreur") %></span>
	</div>
	<ul>
		<% object.errors.full_messages.each do |msg| %>
		 <li>* <%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>