<article class="map" >
	<div id="paper">
	</div>
	<div class="right">
		<div id="ST">
			<h3>Le réseau</h3>
			<p>Le réseau jeunesse suisse-romande réunit pour l'instant 6 goupes de jeunes de 5 cantons différent.</p>
		</div>
		<div id="FR">
			<h3>Fribourg</h3>
			<p>Groupe de jeunes WAY à Bulle</p>
		</div>
		<div id="VD">
			<h3>Vaud</h3>
			<p>
				Groupe de jeunes de Vaud : WAY!
			</p>
		</div>
		<div id="JU">
			<h3>Jura</h3>
			<p>
				Groupe de jeunes du Jura : WAY!
			</p>
		</div>
		<div id="VS">
			<h3>Valais</h3>
			<p>
				Groupe de jeunes du Valais : WAY!
			</p>
		</div>
		<div id="GE">
			<h3>Genève</h3>
			<p>
				Groupe de jeunes de Genève : WAY!
			</p>
		</div>
		<div id="NE">
			<h3>Neuchatel</h3>
			<p>
				Groupe de jeunes de Neuchatel : WAY!
			</p>
		</div>
	</div>
</article>