<div class="table">
	<% if @create_ownerships.any? && !request.fullpath.include?('pages') && !request.fullpath.include?('comments') %>
		<a class="add" href="<%= request.fullpath + '/nouveau' %>">Ajouter</a>
	<% end %>
	<% if @update_ownerships.any? && !request.fullpath.include?('comments') %>
		<a class="edit off">Editer</a>
		<a class="edit on" href="#">Editer</a>
	<% end %>
	<% if @delete_ownerships.any? && !request.fullpath.include?('pages') && !request.fullpath.include?('comments') %>
		<a class="delete off">Supprimer</a>
		<a class="delete on" href="#" data-method="delete" rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">Supprimer</a>
	<% end %>
</div>