$('#message').html('<p><div class="alert alert-notice">Veuillez vous connecter ou <a href="/inscription">créer un compte</a> pour poster un commentaire. <br><span style="text-decoration:underline">Note:</span> La création de compte prend 15 secondes. Vous pouvez aussi utiliser un compte existant de vos réseaux sociaux.</div><a href="#" class="close-notify">X</a></p>') ;
document.location.hash = "log" ;
$("#message a.close-notify").click(function() {
    $("#message").fadeOut("slow");
  return false;
});