var message = $('#message') ;
message.html('<p><div class="alert alert-notice">Veuillez vous connecter ou <a href="/inscription">créer un compte</a> pour poster un commentaire. <br><span style="text-decoration:underline">Note:</span> La création d\'un compte prend 15 secondes.</div><a href="#" class="close-notify">X</a></p>') ;
document.location.hash = "log" ;
// to get high!
$("html, body").animate({scrollTop: 0}, 1000);
// to close the popup
message.find("a.close-notify").click(function() {
  message.fadeOut("slow");
  return false;
});
