<div class="outer" style="width:300px; margin: 0 auto; overflow:visible">
	<div class="inner" style="display:inline-block; position:relative; right: -50%">
		<img style="position:relative; left: -50%; z-index:-1" src="/assets/programme/banner.jpg">
	</div>
</div>
<h1>Evénements prévus</h1>
<p>Il n'y a pas d'évévement prévus pour l'instant.</p>