@charset "utf-8";
/* CSS Document */
#admin_group .infos {
  font-size: 12px; }

#admin_group h2 {
  text-align: right;
  margin: 5px 0 10px 0;
  font-size: 16px; }

#admin_group .panel {
  padding: 30px;
  margin: 30px 0 0 0;
  box-shadow: inset 0px 0px 20px #ccc; }

#admin_group .infos {
  font-size: 12px;
  padding: 10px 10px 10px 0; }

#admin_group .infos i {
  font-size: 10px;
  color: #b87f00; }

#admin_group .panel .decoration {
  font-size: 50px;
  text-align: center;
  margin: 0 0 30px 0; }

#admin_group .mini_header {
  text-align: center;
  font-size: 13px;
  margin: 10px; }

#admin_group form table tr td {
  padding: 10px 0 0 0;
  min-height: 30px;
  vertical-align: middle; }

#admin_group form table tr td.text {
  width: 100px; }

#admin_group form table tr td.field {
  width: 300px;
  margin: 30px;
  padding: 10px 40px 0 0; }

#admin_group form table tr td input {
  height: 100%;
  width: 100%;
  padding: 6px; }

#admin_group form table tr td textarea {
  width: 100%;
  height: 100px;
  padding: 6px 7px; }

#admin_group form .modif_button {
  margin: 30px;
  text-align: center; }

#admin_group .web_admin .element {
  display: inline-block;
  width: 270px;
  height: 120px;
  vertical-align: top;
  padding: 30px 10px 10px 10px;
  text-align: center;
  box-shadow: 0px 10px 14px -7px #aaa;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, white 0%, #dddddd 100%);
  background: -o-linear-gradient(top, white 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, white 0%, #dddddd 100%);
  background: linear-gradient(to bottom, white 0%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
  border-radius: 15px; }

#admin_group .web_admin .element p {
  text-align: center;
  font-size: 12px; }

#admin_group .web_admin .element i {
  font-size: 50px;
  color: #b87f00; }

#admin_group .web_admin .element:hover {
  cursor: pointer;
  background: #e0e4ff;
  text-decoration: none; }

#admin_group .web_admin .element a:hover {
  text-decoration: none; }

#admin_group .url_presentation {
  text-align: center;
  margin: 60px 0 20px 0; }

#admin_group .infos_website {
  font-size: 14px; }

#admin_group .module_show .header {
  vertical-align: middle; }

#admin_group .module_show .module_content {
  font-size: 14px; }
