<article class="map" >
	<div id="paper">
	</div>
	<div class="right">
		<div id="ST">
			<h2>Le réseau</h2>
			<p>Le réseau jeunesse suisse-romande réunit pour l'instant 6 goupes de jeunes de 5 cantons différent.</p>
		</div>
		<div id="FR">
			<h2>Fribourg</h2>
			<p>Groupe de jeunes WAY à Bulle</p>
		</div>
		<div id="VD">
			<h2>Vaud</h2>
			<p>
				Groupe de jeunes de Vaud : WAY!
			</p>
		</div>
		<div id="JU">
			<h2>Jura</h2>
			<p>
				Groupe de jeunes du Jura : WAY!
			</p>
		</div>
		<div id="VS">
			<h2>Valais</h2>
			<p>
				Groupe de jeunes du Valais : WAY!
			</p>
		</div>
		<div id="GE">
			<h2>Genève</h2>
			<p>
				Groupe de jeunes de Genève : WAY!
			</p>
		</div>
		<div id="NE">
			<h2>Neuchatel</h2>
			<p>
				Groupe de jeunes de Neuchatel : WAY!
			</p>
		</div>
	</div>
</article>