<div class="outer" style="width:300px; margin: 0 auto; overflow:visible">
	<div class="inner" style="display:inline-block; position:relative; right: -50%">
		<img style="position:relative; left: -50%; z-index:-1" src="/assets/layout/bg.jpg">
	</div>
</div>
<div id="page_title" data-mercury="full"><h1><%= raw page.title %></h1></div>

<article >
	<div id="page_content" data-mercury="full"><%= raw page.content %></div>
</article>

<% if edit?(page) %>
	<p style="margin-top:20px"><%= link_to "Editer la page", "/editor" + request.path, id: "edit_link", data: { save_url: mercury_update_admin_page_path(page) }, class: "w8-button l-blue" %></p>
<% end %>