<h1 id="page_title" data-mercury="full">Neurones, le réseau jeunesse de suisse-romande</h1><!-- <%= raw page.title %> -->

<article >
	<div id="page_content" data-mercury="full">
		<%=raw page.content %>
		Neurones est un comité qui a pour vision l'unification et le réseautage au sein des groupes de jeunes issus des églises membres de la fédération des églises évangéliques apostolique de suisse-romande.
	</div>
</article>