<h1>News</h1>

<%= render 'shared/table_buttons_nr' %>

<table class="tables display" data-source="<%= admin_group_g_news_url(current_group, format: "json") %>">
  <%= render 'shared/datatable', table: G::New %>
</table>