<p><%= link_to "Retour", edit_admin_gallery_path(@gallery) %></p>

<h1><%= @gallery.name %></h1>

<%= form_for [:admin, @gallery, @painting], :remote => true do |f| %>

		<p>Téléverser des images:</p>
		<input id="fileupload" type="file" name="painting[image]" multiple>

		<div class="progress">
			<span class="progress-val">0%</span>
		</div>
		<div class="console"></div>

		<script>
		$(function () {
		    $('#fileupload').fileupload({
		    		acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
		        dataType: 'json',
		        url: '<%= admin_gallery_paintings_path(@gallery) %>',
		        done: function (e, data) {
		            $.each(data.result, function (index, file) { 
		               $('<img style="float:left" src="'+file.thumbnail_url+'">').appendTo('#thumbs');
		            });
		        },
		        progressall: function (e, data) {
				        var progress = parseInt(data.loaded / data.total * 100, 10);
				        $('.progress .progress-in').css(
				            'width',
				            progress + '%'
				        );
				        $('.progress .progress-val').text(progress + '%');
				    },
				    fail: function (e, data) {
				    	$('.console').text('Problème rencontré');
				    },
				    start: function (e, data) {
				    	$('.console').append('<img src="/assets/medias/loader.gif"/> chargement en cours, veuillez patienter ...');
				    },
				    stop: function (e, data) {
				    	$('.progress .progress-val').text('100% chargement terminé');
				    	$('.console').text('');
				    }
				});
		});
		</script>
	
		<div id="thumbs" class="cf">
		<!-- json-ajax response here, see fileupload script above, .appendTo css id:"thumbs"-->
		</div>
</div>

<% end %>
