<h1>Diaporamas</h1>

<%= render 'shared/table_buttons' %>

<table class="tables display" data-source="<%= admin_slideshows_url(format: "json") %>">
  <%= render 'shared/datatable', table: Slideshow %>
</table>