<h1>Modules</h1>

<% @modules.each do |g_module| %>
	<%= g_module.name %>
	<% if Group::CompGroup.where('group_id = ? and module_id = ?', current_group.id, g_module.id).empty? %>
		<%= link_to "Activer", activate_group_admin_group_group_group_module_path(current_group, g_module) %>
	<% else %>
		<%= link_to "Désactiver", desactivate_group_admin_group_group_group_module_path(current_group, g_module) %>
	<% end %>
<% end %>
