<% provide(:title, 'Galleries') %>

<%= render 'shared/image_banner', image: '/assets/medias/banner.jpg' %>

<h1>Medias</h1>

<% @galleries.each do |gallery| %>
	<%= link_to gallery.name, gallery_path(gallery) %>
<% end %>

<p>Sur cette page (encore vide) tu trouveras les photos des rencontres.</p>