<h1>Utilisateurs</h1>

<% if @create_ownerships.any? %>
	<%= link_to "Ajouter", new_admin_user_path, class: "w8-button red"  %>
<% end %>

<%= render partial: "shared/index", locals: { arrayi: @elements, name: 'user' } %>