<h1>Utilisateurs</h1>

<%= render 'shared/table_buttons' %>

<table class="tables display" data-source="<%= admin_users_url(format: "json") %>">
  <%= render 'shared/datatable', table: User %>
</table>