<p><%= link_to "Retour", admin_users_path %></p>

<h2>Ajouter un utilisateur</h2>

<%= form_for [:admin, @user] do |f| %>
	
	<table>
	<%= render 'fields', f: f %>

	<tr><td><%= f.submit "Ajouter" %></td></tr>
	</table>

<% end %>