<p><%= link_to "Retour", edit_admin_group_g_gallery_path(current_group, @gallery) %></p>

<h1><%= @gallery.name %></h1>

<%= render "shared/images_upload", url: admin_group_g_gallery_paintings_path(current_group, @gallery) %>
