<footer class="group_footer">
	<div>
		<p>Proudly powered by <a href="http://neurones.ch" target="_blank">Neurones.ch</a></p>
		<p><a href="http://neurones.ch/login" target="_blank">Login</a></p>
	</div>
</footer>