<header>
	<nav>
		<% if current_group %>
		<ul>
			<% current_group.pages.order("page_order ASC").each do |page| %>
				<li>
					<%= link_to page.name, page_url(page.url), class: (current_page?(page_url(page.url))? 'selected' : nil) %>
				</li>
			<% end %>
		</ul>
		<% end %>
	</nav>
</header>