<header>
	<nav>
		<div id="message">
			<%= render 'layouts/flash', flash: flash  %>
		</div>
		
		<% if current_group %>
		<ul>
			<% current_group.pages.each do |page| %>
				<li><%= link_to page.name, "/" + current_group.url + "/" + page.url %></li>
			<% end %>
		</ul>
		<% end %>
	</nav>
</header>