<header>
	<nav>
		<div id="message">
			<%= render 'layouts/flash', flash: flash  %>
		</div>
		
		<% if current_group %>
			<% current_group.pages.each do |page| %>
				<%= link_to page.name, "/" + current_group.url + "/" + page.url %>
			<% end %>
		<% end %>
	</nav>
</header>