<p>
	Project under construction - Neurones© |
	<% if signed_in_user? %>
		<%= link_to "Gestion", admin_profil_path %> |
		Connecté en tant que: <%= link_to current_user.name, admin_profil_path %> | <%= link_to "Déconnexion", deconnexion_path, method: "delete" %>
	<% else %>
		<%= link_to "Connexion", connexion_path %>
	<% end %>
</p>