<header>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li class="submenu"><a>Vision</a>
				<ul>
					<li><a href="">Contact</a></li>
					<li><a>À propos</a></li>
				</ul>
			</li>
			<img src="/assets/header/logo.png">
		</ul>
	</nav>
</header>