<% if !signed_in? && request.fullpath != "/login" %>
	<div id="login">
		<div class="big-forms">
			<div class="forms"></div>
		</div>

		<div class="login"> 
			<p><a data-remote="true" href="/login"><i class="foundiconge-down-arrow"></i>Login</a></p>
		</div>
	</div>
<% elsif signed_in? %>
	<div id="login">
		<div class="login"> 
			<p>
				<%= render 'layouts/header_connected' %>
			</p>
		</div>
	</div>
<% end %>