<% if !signed_in? && request.fullpath != "/login" %>
	<div id="login">
		<div class="big-forms">
			<div class="forms"></div>
		</div>

		<div class="login">
			<p class="text">
				<a data-remote="true" href="/login"><i class="foundiconge-down-arrow"></i>Login</a>
			</p>
			<div class="loading hide" style="color:#fff">
        chargement ... <%= image_tag "header/ajax-loader-header.gif" %>
			</div>
		</div>
	</div>
<% elsif signed_in? %>
	<div id="login">
		<div class="login">
			<p>
				<%= render 'layouts/header_connected' %>
			</p>
		</div>
	</div>
<% end %>
