<div id="login">
	<div class="big-forms">
		<div class="forms">

			<div class="container">
				<div>
					<img src="http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png">
				</div>
				<div class="log">
					<p>Utiliser votre compte <b>facebook</b></p>
					<p class="btn"><a href="#">Utiliser <i class="foundiconge-right-arrow"></i></a>
				</div>
			</div>

			<div class="container space"></div>

			<div class="container">
				<div>
					<img src="http://cdn1.iconfinder.com/data/icons/PRACTIKA/256/twitter.png">
				</div>
				<div class="log">
					<p>Utiliser votre compte <b>twitter</b></p>
					<p class="btn"><a href="#">Utiliser <i class="foundiconge-right-arrow"></i></a>
				</div>
			</div>

			<div class="container space"></div>

			<div class="container">
				<div>
					<img src="http://openid.net/logo-graphics/openid-icon-1000x1000.png">
				</div>
				<div class="log">
					<p>Utiliser le service <b>OpenID</b>. Fournis par de nombreux services comme <b>Google</b>, <b>Yahoo</b> ou <b>Myspace</b>.</p>
					<p class="btn"><a href="#">Utiliser <i class="foundiconge-right-arrow"></i></a>
				</div>
			</div>

			<div class="container space"></div>
			
			<div class="container">
				<div>
					<img src="http://blog.ericlamb.net/wp-content/uploads/2010/03/center_gravatar.jpg">
				</div>
				<div class="log">
					<p>Se creer un nouveau compte et utiliser le service <b>Gravatar</b>.</p>
					<p class="btn"><a href="#">Utiliser <i class="foundiconge-right-arrow"></i></a>
				</div>
			</div>


		</div>
	</div>

	<div class="login"> 
		<p><a href="#"><i class="foundiconge-down-arrow"></i> Login</a></p>
	</div>
</div>