<noscript style="padding: 10px;">
	<h2 style="margin: 0 0 10px 10px">Vous avez désactivé javascript sur votre navigateur.</h1>
	<p style="margin: 0 0 0 10px">Nous attirons votre attention sur le fait que ce site utilise pleinement cette technologie sans proposer d'alternative. Il vous sera donc impossible d'utiliser une partie du site.</p>
</noscript>